@model DAL.Models.Domain.MasterSetup.SelectionCriteriaGeneral

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Selection Criteria</h4>
<hr />
@{ 
    if(ViewBag.meesage != null)
            {
                <div>@ViewBag.message</div>
            }
}
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <span asp-validation-for="SchemeLevelId" class="text-danger"></span>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Select Scheme</label>
                <select id="SchemeId" name="SchemeId" class="form-control" asp-items="ViewBag.SchemeId" required>
                    <option value="">-Select-</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Select Scheme Level</label>
                <select asp-for="SchemeLevelId" class="form-control" required>
                    <option value="">-Select-</option>
                </select>
            </div>
        </div>
        @*<div class="col-md-3" id="degreeLevelDiv" style="display:none">
                <div class="form-group">
                    <label class="control-label">Select Degree Level</label>
                    <select asp-for="DegreeScholarshipLevelId" class="form-control">
                        <option value="">-Select-</option>
                    </select>
                </div>
            </div>*@

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-inline">
                <label class="control-label"></label>
                <div class="input-group mb-2 mr-sm-3" style="width: 287px;margin-right:1.5rem">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Excel Column</div>
                    </div>
                    <select id="ExcelColumnNameId" class="form-control" asp-items="ViewBag.ExcelColumnNameId">
                    </select>
                </div>
                <button type="button" id="addColumn" onclick="addColumnFun()" class="btn btn-primary mb-2">Add</button>
            </div>
            <div class="form-inline">
                <label class="control-label"></label>
                <div class="input-group mb-2 mr-sm-3" style="width: 287px;margin-right:1.5rem">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Operator</div>
                    </div>
                    <select id="OperatorId" class="form-control" asp-items="ViewBag.OperatorId">
                    </select>
                </div>
                <button type="button" id="addOperator" onclick="addOperatorFun()" class="btn btn-primary mb-2">Add</button>
            </div>
            <div class="form-inline">
                <label class="control-label"></label>
                <div class="input-group mb-2 mr-sm-3" style="width: 287px;margin-right:1.5rem">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Number</div>
                    </div>
                    <select id="NumberListId" class="form-control" asp-items="ViewBag.NumberList">
                    </select>
                </div>
                <button type="button" id="addNumber" onclick="addNumberFun()" class="btn btn-primary mb-2">Add</button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group" id="">
                <button type="button" id="addOperator" onclick="clearTextAreaFun()" class="btn btn-primary mb-2">Clear Expression</button>
                <button type="button" id="undo" onclick="undoFun()" class="btn btn-primary mb-2">Undo</button>
                @*<textarea id="ExpressionViewer" class="form-control" cols="2" readonly="readonly" required>  </textarea>*@
                <textarea asp-for="Expression" class="form-control" cols="2" readonly="readonly" required>  </textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        let stack1 = [];
        let stack2 = [];
        $(document).ready(function () {                           
            $("#SchemeLevelId").val('');
            $("#SchemeId").val('');
            $('#ExpressionViewer').val('');
            $('#Expression').val('');
            @*$("#SchemeLevelId").change(function () {
                var SchemeLevelId = $("#SchemeLevelId").val();
                var SchemeId = $("#SchemeId").val();
                if (SchemeLevelId != 0) {
                    if (SchemeId >= 4) {
                        $.get("/SelectionCriteriaGenerals/GetDegreeLevels", { schemeLevelId: SchemeLevelId }, function (data) {
                            $("#DegreeScholarshipLevelId").empty();
                            $("#DegreeScholarshipLevelId").append('<option value="0">Select...</option>');
                            console.log(data);
                            $.each(data, function (index, row) {
                                console.log(row);
                                $("#DegreeScholarshipLevelId").append("<option value='" + row.value + "'>" + row.text + "</option>")
                            });
                        });
                    }
                    return false;
                } else {
                    $("#DegreeScholarshipLevelId").empty();
                    $("#DegreeScholarshipLevelId").append('<option value="0">-Select-</option>');
                }
            });*@

            $("#SchemeId").change(function () {
                var SchemeId = $("#SchemeId").val();
                $("#OperatorId").val('');
                $("#ExcelColumnNameId").val('');
                $("#SchemeLevelId").empty();
                $.get("/SelectionCriteriaGenerals/GetSchemeLevels", { schemeId: SchemeId }, function (data) {
                    $("#SchemeLevelId").empty();
                    $("#SchemeLevelId").append('<option value="0">Select...</option>');
                    console.log(data);
                    $.each(data, function (index, row) {
                        console.log(row);
                        $("#SchemeLevelId").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
                @*$("#DegreeScholarshipLevelId").empty();
                $("#DegreeScholarshipLevelId").append('<option value="">-Select-</option>');*@
                var SchemeId = $("#SchemeId").val();
                if (SchemeId >= 4) {
                    @*$('#degreeLevelDiv').show();*@
                } else {
                    @*$('#degreeLevelDiv').hide();*@
                }
            });
        });        
        function addColumnFun() {            
            var column = $('#ExcelColumnNameId option:selected').text();
            stack1.push(" " + column + " ");
            stack2.push(" " + column + " ");            
            $('#ExpressionViewer').val(stack1);
            var expressionViewer = $('#ExpressionViewer').val();
            $('#ExpressionViewer').val(expressionViewer.replace(/,/g, ''));
            $('#Expression').val(stack2);
            var expression = $('#Expression').val();                                    
            $('#Expression').val(expression.replace(/,/g, ''));
            console.log(stack1);
        }
        function addOperatorFun() {
            var operator = $('#OperatorId option:selected').text();
            var operatorValue = $('#OperatorId option:selected').val();
            stack1.push(" " + operator + " ");
            stack2.push(" " + operatorValue + " ");            
            $('#ExpressionViewer').val(stack1);
            var expressionViewer = $('#ExpressionViewer').val();
            $('#ExpressionViewer').val(expressionViewer.replace(/,/g, ''));
            $('#Expression').val(stack2);
            var expression = $('#Expression').val();
            $('#Expression').val(expression.replace(/,/g, ''));
        }
        function addNumberFun() {
            var number = $('#NumberListId option:selected').text();
            stack1.push(number);
            stack2.push(number);
            $('#ExpressionViewer').val(stack1);
            var expressionViewer = $('#ExpressionViewer').val();
            $('#ExpressionViewer').val(expressionViewer.replace(/,/g, ''));
            $('#Expression').val(stack2);
            var expression = $('#Expression').val();
            $('#Expression').val(expression.replace(/,/g, ''));
        }
        function clearTextAreaFun() {
            $('#ExpressionViewer').val('');
            $('#Expression').val('');
        }
        function undoFun() {
            stack1.pop();
            stack2.pop();
            $('#ExpressionViewer').val(stack1);
            var expressionViewer = $('#ExpressionViewer').val();
            $('#ExpressionViewer').val(expressionViewer.replace(/,/g, ''));
            $('#Expression').val(stack2);
            var expression = $('#Expression').val();
            $('#Expression').val(expression.replace(/,/g, ''));
        }
    </script>
}