@model IEnumerable<DAL.Models.Domain.MasterSetup.SelectionCriteriaGeneral>


<table class="table">
    <thead>
        <tr>          
            <th>
                @Html.DisplayNameFor(model => model.Expression)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.Expression)
            </td>
        </tr>
        }
    </tbody>
</table>
