@model ScholarshipManagementSystem.Models.Domain.ScholarshipSetup.SelectionCriteria

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SelectionCriteria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResultRepositoryId" />
            <div class="form-group">
                <label asp-for="ResultRepositoryId" class="control-label">Scheme Level</label>
                <select asp-for="ResultRepositoryId" class ="form-control" asp-items="ViewBag.ResultRepositoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OperatorId" class="control-label"></label>
                <select asp-for="OperatorId" class ="form-control" asp-items="ViewBag.OperatorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExcelColumnNameId" class="control-label"></label>
                <select asp-for="ExcelColumnNameId" class ="form-control" asp-items="ViewBag.ExcelColumnNameId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

