@model DAL.Models.Domain.Student.Applicant

<style>
    .bg-light {
        background-color: #dcedfc;
    }
    .inputSelect {
        background-color: #F8F8F8;
    }

    .inputBox:focus, .inputBox.focus {
        background-color: lightblue;
        border: 1px solid blue;
    }

    .inputBox {
        pointer-events: none;
    }    
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="container">           
            <div class="alert alert-primary" role="alert">
                <b>Current Applicant Status: </b> @Model.SelectionStatus
            </div>            
            <div class="row">               
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body bg-light">
                            <h4 class="card-title">Basic Information</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control inputBox" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="FatherName" class="control-label"></label>
                                        <input asp-for="FatherName" class="form-control inputBox" />
                                        <span asp-validation-for="FatherName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Gender</label>
                                        <select asp-for="Gender" class="form-control inputSelect" asp-items="ViewBag.ddGenderList"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="DateOfBirth" class="control-label"></label>
                                        <input asp-for="DateOfBirth" type="date" class="form-control inputBox">
                                    </div><!-- input-group -->
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="StudentMobile" class="control-label"></label>
                                        <input asp-for="StudentMobile" class="form-control inputBox input-mask" data-inputmask="'alias': 'email'">
                                        <span asp-validation-for="StudentMobile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="BFormCNIC" class="control-label"></label>
                                        <input asp-for="BFormCNIC" class="form-control inputBox input-mask" data-inputmask="'alias': 'email'">
                                        <span asp-validation-for="BFormCNIC" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control inputBox input-mask" data-inputmask="'alias': 'email'">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="FatherMobile" class="control-label"></label>
                                        <input asp-for="FatherMobile" class="form-control inputBox input-mask" data-inputmask="'mask': '0399-9999999'" />
                                        <span asp-validation-for="FatherMobile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="TelephoneWithCode" class="control-label"></label>
                                        <input type="number" asp-for="TelephoneWithCode" class="form-control inputBox" />
                                        <span asp-validation-for="TelephoneWithCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="Religion" class="control-label"></label>
                                        <input asp-for="Religion" class="form-control inputBox" />
                                        <span asp-validation-for="Religion" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="TehsilName" class="control-label"></label>
                                        <input asp-for="TehsilName" class="form-control inputBox" />
                                        <span asp-validation-for="TehsilName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="FatherCareTakerCNIC" class="control-label"></label>
                                        <input asp-for="FatherCareTakerCNIC" class="form-control inputBox  input-mask" data-inputmask="'mask': '99999-9999999-9'" />
                                        <span asp-validation-for="FatherCareTakerCNIC" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="HomeAddress"></label>
                                        <div>
                                            <textarea asp-for="HomeAddress" required class="form-control" rows="4"></textarea>
                                        </div>
                                        <span asp-validation-for="HomeAddress" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="RelationWithCareTaker" class="control-label"></label>
                                        <input asp-for="RelationWithCareTaker" class="form-control inputBox" />
                                        <span asp-validation-for="RelationWithCareTaker" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="Year" class="control-label"></label>
                                        <input asp-for="Year" class="form-control inputBox" />
                                        <span asp-validation-for="Year" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->                
            </div> <!-- end row -->
            <div class="card">
                <div class="card-body bg-light">
                    <h4 class="card-title">Result Information</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Selection Method</label>
                                <select style="background-color:#f8f8f8" asp-for="SelectionMethodId" disabled="disabled" class="form-control inputSelect" asp-items="ViewBag.ddMethodList"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Provience</label>
                                <select disabled="disabled" asp-for="ProvienceId" class="form-control inputSelect" asp-items="ViewBag.ProvienceId"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Local District</label>
                                <select disabled="disabled" asp-for="DistrictId" asp-items="@ViewBag.DistrictId" class="form-control inputSelect">
                                    <option>-Select-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ApplicantReferenceNo" class="control-label"></label>
                                <input asp-for="ApplicantReferenceNo" disabled="disabled" style="background-color: #f8f8f8" class="form-control" />
                                <span asp-validation-for="ApplicantReferenceNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="RegisterationNumber" class="control-label"></label>
                                <input asp-for="RegisterationNumber" disabled="disabled" style="background-color: #f8f8f8" class="form-control" />
                                <span asp-validation-for="RegisterationNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="RollNumber" class="control-label"></label>
                                <input asp-for="RollNumber" disabled="disabled" style="background-color: #f8f8f8" class="form-control" />
                                <span asp-validation-for="RollNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="TotalMarks" class="control-label"></label>
                                <input asp-for="TotalMarks" class="form-control inputBox" readonly="readonly" />
                                <span asp-validation-for="TotalMarks" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="ReceivedMarks" class="control-label"></label>
                                <input asp-for="ReceivedMarks" class="form-control inputBox" readonly="readonly" />
                                <span asp-validation-for="ReceivedMarks" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="OldInstitudeNameAddress"></label>
                                <div>
                                    <textarea asp-for="OldInstitudeNameAddress" required class="form-control" rows="3"></textarea>
                                </div>
                                <span asp-validation-for="OldInstitudeNameAddress" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body bg-light">
                    <h4 class="card-title">Current Insitute</h4>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="CurrentInsituteName" class="control-label"></label>
                                <input asp-for="CurrentInsituteName" class="form-control inputBox" />
                                <span asp-validation-for="CurrentInsituteName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="CurrentInsituteHOD" class="control-label"></label>
                                <input asp-for="CurrentInsituteHOD" class="form-control inputBox" />
                                <span asp-validation-for="CurrentInsituteHOD" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="CurrentInsituteFocalPerson" class="control-label"></label>
                                <input asp-for="CurrentInsituteFocalPerson" class="form-control inputBox" />
                                <span asp-validation-for="CurrentInsituteFocalPerson" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="CurrentInsituteFocalDesignation" class="control-label"></label>
                                <input asp-for="CurrentInsituteFocalDesignation" class="form-control inputBox" />
                                <span asp-validation-for="CurrentInsituteFocalDesignation" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="CurrentInsituteFax" class="control-label"></label>
                                <input asp-for="CurrentInsituteFax" class="form-control inputBox" />
                                <span asp-validation-for="CurrentInsituteFax" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="CurrentInsitutePhone" class="control-label"></label>
                                <input asp-for="CurrentInsitutePhone" class="form-control inputBox" />
                                <span asp-validation-for="CurrentInsitutePhone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="CurrentInsituteFocalMobile" class="control-label"></label>
                                <input asp-for="CurrentInsituteFocalMobile" class="form-control inputBox input-mask" data-inputmask="'mask': '0399-9999999'" />
                                <span asp-validation-for="CurrentInsituteFocalMobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="CurrentInsituteFocalEmail" class="control-label"></label>
                                <input asp-for="CurrentInsituteFocalEmail" class="form-control inputBox input-mask" data-inputmask="'alias': 'email'">
                                <span asp-validation-for="CurrentInsituteFocalEmail" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="CurrentInsituteAddress"></label>
                                <div>
                                    <textarea asp-for="CurrentInsituteAddress" required class="form-control" rows="3"></textarea>
                                </div>
                                <span asp-validation-for="CurrentInsituteAddress" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

