@{
    ViewBag.pTitle = "Applicant Pending Files";
    ViewBag.pageTitle = "Applicant";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}




<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<!-- Summernote css -->
<link href="~/assets/libs/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-xl-9 col-lg-8">
        <div class="card">
            <div id="ApplicantDataPlace">
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-4">
        <div class="card">
            <div class="card-body p-4">
                @*<div class="search-box">
                        <p class="text-muted">Search</p>
                        <div class="position-relative">
                            <input type="text" class="form-control rounded bg-light border-light" placeholder="Search...">
                            <i class="mdi mdi-magnify search-icon"></i>
                        </div>
                    </div>*@
                <div class="title"> List of Scheme</div>
                <hr class="my-4">

                <div>
                    <p class="text-muted">List of In Process Applicant Cases</p>

                    <ul class="list-unstyled font-weight-medium">
                        @*<li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Design</a></li>*@
                        @foreach (var item in Model)
                        {
                            <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-projector-screen mr-1"></i> @item.Name <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">04</span></a></li>
                        }
                        @*<li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Business</a></li>
                            <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Project</a></li>
                            <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> Travel<span class="badge badge-soft-success badge-pill ml-1 float-right font-size-12">12</span></a></li>*@
                    </ul>
                </div>

                <hr class="my-4">

                @*<div>
                        <p class="text-muted">Archive</p>

                        <ul class="list-unstyled font-weight-medium">
                            <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> 2020 <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">03</span></a></li>
                            <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> 2019 <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">06</span></a></li>
                            <li><a href="#" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right mr-1"></i> 2018 <span class="badge badge-soft-success badge-pill float-right ml-1 font-size-12">05</span></a></li>
                        </ul>
                    </div>

                    <hr class="my-4">

                    <div>
                        <p class="text-muted mb-2">Popular Posts</p>

                        <div class="list-group list-group-flush">

                            <a href="#" class="list-group-item text-muted py-3 px-2">
                                <div class="media align-items-center">
                                    <div class="mr-3">
                                        <img src="~/assets/images/small/img-7.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                    </div>
                                    <div class="media-body overflow-hidden">
                                        <h5 class="font-size-13 text-truncate">Beautiful Day with Friends</h5>
                                        <p class="mb-0 text-truncate">10 Apr, 2020</p>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="list-group-item text-muted py-3 px-2">
                                <div class="media align-items-center">
                                    <div class="mr-3">
                                        <img src="~/assets/images/small/img-4.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                    </div>
                                    <div class="media-body overflow-hidden">
                                        <h5 class="font-size-13 text-truncate">Drawing a sketch</h5>
                                        <p class="mb-0 text-truncate">24 Mar, 2020</p>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="list-group-item text-muted py-3 px-2">
                                <div class="media align-items-center">
                                    <div class="mr-3">
                                        <img src="~/assets/images/small/img-6.jpg" alt="" class="avatar-md h-auto d-block rounded">
                                    </div>
                                    <div class="media-body overflow-hidden">
                                        <h5 class="font-size-13 text-truncate">Project discussion with team</h5>
                                        <p class="mb-0 text-truncate">11 Mar, 2020</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div>
                        <p class="text-muted mb-1">Tags</p>

                        <ul class="list-inline widget-tag">
                            <li class="list-inline-item"><a href="#" class="badge badge-light font-size-12 mt-2">Design</a></li>
                            <li class="list-inline-item"><a href="#" class="badge badge-light font-size-12 mt-2">Development</a></li>
                            <li class="list-inline-item"><a href="#" class="badge badge-light font-size-12 mt-2">Business</a></li>
                            <li class="list-inline-item"><a href="#" class="badge badge-light font-size-12 mt-2">Project</a></li>
                            <li class="list-inline-item"><a href="#" class="badge badge-light font-size-12 mt-2">Travel</a></li>
                            <li class="list-inline-item"><a href="#" class="badge badge-light font-size-12 mt-2">Lifestyle</a></li>
                            <li class="list-inline-item"><a href="#" class="badge badge-light font-size-12 mt-2">Photography</a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
        <!-- end card -->
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <!-- toastr plugin -->
    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>


    <script>
        $(document).ready(function () {
            fetchRecord();
    })
function fetchRecord() {
        $(".loading").show();
            $.ajax({
                url: '@Url.Action("GetResultList", "Applicants")',                
                success: function (data) {
                    $("#ApplicantDataPlace").html(data);
                $(".loading").hide();
                }
                });
    }
    </script>
}