@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using ScholarshipManagementSystem.Constants
@{
    ViewData["Title"] = "Send SMS";
    ViewBag.Title = "Applicant";
    ViewBag.pTitle = "Applicant";
    ViewBag.pageTitle = "SMS";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<style>
    .nav-link {
        padding: .5rem;
    }
</style>

@if (true@*(AuthorizationService.AuthorizeAsync(User, Permissions.Applicant.View)).Result.Succeeded*@)
{
<link rel="stylesheet" type="text/css" href="~/assets/libs/toastr/build/toastr.min.css">
<link rel="stylesheet" href="~/assets/libs/twitter-bootstrap-wizard/prettify.css">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="FetchDataOnSuccess" style="display:none" class="alert alert-success alert-dismissible fade show" role="alert">
                    <div id="FetchDataOnSuccessText"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="FetchDataOnFailed" style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div id="FetchDataOnFailedText"></div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @{
                    if (ViewBag.message != "")
                    {
                        <div id="FetchDataOnFailed" style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <div id="FetchDataOnFailedText">@ViewBag.message</div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                }
                <div class="col-md-10">
                    <div class="form-inline">
                        <label class="sr-only" for="inlineFormemail2">Email</label>
                        <div class="input-group mb-2 mr-sm-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Applicant: Scan QR Code</div>
                            </div>
                            <input id="txtbox" type="text" class="form-control" placeholder="Reference#">
                        </div>
                        <button onclick="fetch()" id="btnSearchForm" type="button" class="btn btn-info waves-effect btn-label waves-light mb-2"><i class="bx bx-check-double label-icon"></i> Search</button>
                        <div id="fetchspinner" style="display:none" class="spinner-grow text-dark m-2 mb-3" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="applicantinformation" style="display:none">
            <div class="row">
                <div class="col-md-2 mt-4">
                    <div class="form-group">
                        <label class="control-label">Selection Method</label>
                        <input style="background-color:aliceblue" id="selectionMethodName" class="form-control" disabled="disabled" />
                    </div>
                </div>
                <div class="col-md-2 mt-4">
                    <div class="form-group">
                        <label class="control-label">Scheme</label>
                        <input style="background-color:aliceblue" id="scheme" class="form-control" disabled="disabled" />
                    </div>
                </div>
                <div class="col-md-2 mt-4">
                    <div class="form-group">
                        <label class="control-label">Roll#</label>
                        <input style="background-color:aliceblue" id="rollno" class="form-control" disabled="disabled" />
                    </div>
                </div>
                <div class="col-md-2 mt-4">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input style="background-color:aliceblue" id="name" class="form-control" disabled="disabled" />
                    </div>
                </div>
                <div class="col-md-2 mt-4">
                    <div class="form-group">
                        <label class="control-label">Father Name</label>
                        <input style="background-color:aliceblue" id="fathername" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    
                        <label><span style="color:red">* </span>max length: 255</label>
                        <textarea id="msgbox" placeholder="Enter Message..." required class="form-control" rows="5" maxlength="255"></textarea>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-info btn-rounded chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block mr-2"><i class="bx bx-user"></i> Send</span> <i class="mdi mdi-send"></i></button>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
<div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                    <h4 class="text-uppercase">Sorry, page not found</h4>
                    @*<div class="mt-5 text-center">
                            <a class="btn btn-primary waves-effect waves-light" href=@Url.Action("Index", "index")>Back to Dashboard</a>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div>
                    <img src="~/assets/images/error-img.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <!-- toastr plugin -->
    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnSearchForm').prop('disabled', true);
            $('.applicantinformation').hide();
            $('#txtbox').keyup(function (event) {
                var refLength = $("#txtbox").val().length;
                if (refLength == 13) {
                    $('#btnSearchForm').prop('disabled', false);
                } else {
                    $('#btnSearchForm').prop('disabled', true);
                }
                if (event.keyCode === 13 && refLength == 13) {
                    fetch();
                }
            });
            $("#btnSearchForm").click(function () {
                fetch();
            });

            $(".loading").hide();
        });
        function fetch() {
            var refno = $("#txtbox").val();
            $('#fetchspinner').show();
            $.ajax({
                type: "POST",
                url: "/Applicants/AjaxApplicantInformation",
                data: { refno: refno },
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        $('#applicantinformation').show();
                        $('#attachment').show();
                        $('#name').val(response.name);
                        $('#rollno').val(response.rollNumber);
                        $('#fathername').val(response.fatherName);
                        $('#scheme').val(response.homeAddress);
                        $('#selectionMethodName').val(response.religion);
                        $('#applicantId').val(response.applicantId);
                        $("#profilelink").attr("href", "/applicants/ApplicantFormEdit/" + response.applicantId);
                        if (response.isFormSubmitted) {
                            if (response.isFormEntered) {
                                $('#applicantinformation').hide();
                                $('#FetchDataOnSuccess').show();
                                $('#FetchDataOnSuccessText').text("Applicant form data already has been entered!");
                                notificationme('Applicant form data already has been entered!');
                            }
                            else {
                                $("#txtbox").val('');
                                $('#btnSearchForm').prop('disabled', true);
                                $('#FetchDataOnSuccess').show();
                                $('#applicantinformation').show();
                                $('#FetchDataOnSuccessText').text("Fetch data successfully!");
                                notificationme("Fetch data successfully!");
                                $('#FetchDataOnFailed').hide();
                            }
                        } else {
                            $('#applicantinformation').hide();
                            $('#FetchDataOnSuccess').hide();
                            $('#FetchDataOnFailed').show();
                            $('#FetchDataOnFailedText').text("Applicant Form not submitted so far on reception counter, First Add applicant receiving Form using 'Form Collection' menu option!");
                            notificationme('Applicant Form not entered into system!');
                        }


                    } else {
                        $('#applicantinformation').hide();
                        $('#FetchDataOnSuccess').hide();
                        $('#FetchDataOnFailed').show();
                        $('#FetchDataOnFailedText').text("Applicant data not found!");
                        notificationme("Applicant data not found!");
                        $("#txtbox").val('');
                        $('#btnSearchForm').prop('disabled', true);
                    }
                    $('#fetchspinner').hide();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        function notificationme(message) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "100",
                "positionClass": "toast-bottom-right",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "show",
                "hideMethod": "hide"
            };
            toastr.info(message);
        }
    </script>
}
