@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using ScholarshipManagementSystem.Constants
@{
    ViewData["Title"] = "CollectForm";
    ViewBag.Title = "Applicant";
    ViewBag.pTitle = "Complete Profile";
    ViewBag.pageTitle = "Applicant";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<style>
    .nav-link {
        padding: .5rem;
    }
    #msgbox, p {      
        font-style:italic;
    }
</style>
@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Applicant.View)).Result.Succeeded)
{
    <link rel="stylesheet" type="text/css" href="~/assets/libs/toastr/build/toastr.min.css">
    <link rel="stylesheet" href="~/assets/libs/twitter-bootstrap-wizard/prettify.css">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    @*<div id="FetchDataOnSuccess" style="display:none" class="alert alert-success alert-dismissible fade show" role="alert">
                            <div id="FetchDataOnSuccessText"></div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>*@
                    <div id="FetchDataOnFailed" style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <div id="FetchDataOnFailedText"></div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @*<h5 class="card-title mb-4">Scan QR Code</h5>*@
                    <div class="col-md-10">
                        <div class="form-inline">
                            <label class="sr-only" for="inlineFormemail2">Email</label>
                            <div class="input-group mb-2 mr-sm-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Applicant: Scan QR Code</div>
                                </div>
                                <input id="txtbox" type="text" class="form-control" placeholder="Reference#">
                            </div>
                            <button onclick="fetch()" id="btnSearchForm" type="button" class="btn btn-info waves-effect btn-label waves-light mb-2"><i class="bx bx-check-double label-icon"></i> Search</button>
                            <div id="fetchspinner" style="display:none" class="spinner-grow text-dark m-2 mb-3" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="applicantId" />
                    <div class="applicantinformation" style="display:flex;flex-wrap:wrap;margin-right:-12px;margin-left:-12px;max-height:100px">
                        <div class="col-md-2 mt-4">
                            <div class="form-group">
                                <label class="control-label">Selection Method</label>
                                <input style="background-color:aliceblue" id="selectionMethodName" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-md-2 mt-4">
                            <div class="form-group">
                                <label class="control-label">Scheme</label>
                                <input style="background-color:aliceblue" id="scheme" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-md-2 mt-4">
                            <div class="form-group">
                                <label class="control-label">Roll#</label>
                                <input style="background-color:aliceblue" id="rollno" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-md-2 mt-4">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input style="background-color:aliceblue" id="name" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-md-2 mt-4">
                            <div class="form-group">
                                <label class="control-label">Father Name</label>
                                <input style="background-color:aliceblue" id="fathername" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-md-2" style="top:-55px">
                            <div class="text-center">
                                <img id="pic" style="border-width: 1px; border-style: solid;" class="rounded border-2" alt="155x170" width="140" height="150" src="" data-holder-rendered="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end row -->

    <div class="card applicantinformation">
        <div id="progrss-wizard" class="twitter-bs-wizard">
            <ul class="twitter-bs-wizard-nav nav-justified">
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="step-number mr-2">01</span>
                        Selected
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="step-number mr-2" style="background-color: #556ee6;color:white">02</span>
                        Form Submit
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">
                        <span class="step-number mr-2" style="background-color: #556ee6;color:white">03</span>
                        Form Entry
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="step-number mr-2" style="background-color: #556ee6;color:white">04</span>
                        Program
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="step-number mr-2" style="background-color: #556ee6;color:white">05</span>
                        M&amp;E
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="step-number mr-2" style="background-color: #ff6a00;color:white">06</span>
                        Audit
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="step-number mr-2">07</span>
                        CEO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span class="step-number mr-2">08</span>
                        Finance
                    </a>
                </li>
            </ul>
            @* <div id="bar" class="progress mt-4">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"></div>
                </div>*@

        </div>
        <div class="card-body">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            @*<h4 class="card-title">Applicant Information</h4>*@
                            @*<h4 class="card-title">Default Tabs</h4>
                                <p class="card-title-desc">
                                    Use the tab JavaScript plugin—include
                                    it individually or through the compiled <code class="highlighter-rouge">bootstrap.js</code>
                                    file—to extend our navigational tabs and pills to create tabbable panes
                                    of local content, even via dropdown menus.
                                </p>*@
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Profile <span class="loading" style="display:none"> <img src="~/assets/images/loading.gif" height="18" /></span></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#attachments" role="tab">
                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                        <span class="d-none d-sm-block">Attachments <span class="loading" style="display:none"> <img src="~/assets/images/loading.gif" height="18" /></span></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#recipt" role="tab">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Recipt Information</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
                                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                        <span class="d-none d-sm-block">SMS Inbox <span class="loading" style="display:none"> <img src="~/assets/images/loading.gif" height="18" /></span></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#greennote" role="tab">
                                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                        <span class="d-none d-sm-block">Green Note</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#paymentprocess" role="tab">
                                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                        <span class="d-none d-sm-block">Payment Process</span>
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content p-3 text-muted">
                                <div class="tab-pane active" id="profile" role="tabpanel">
                                    <div id="fetchProfile">
                                        Profile
                                    </div>
                                </div>
                                <div class="tab-pane" id="attachments" role="tabpanel">
                                    @*<form class="form-inline">
                                            <div class="input-group mb-2 mr-sm-3">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"></div>
                                                </div>
                                                <input class="form-control" id="title" placeholder="Enter Document Title">
                                            </div>
                                            <div class="input-group mb-2 mr-sm-3">
                                                <div class="custom-file text-left">
                                                    <input accept="application/pdf" type="file" class="custom-file-input" name="AttachDocument" id="AttachDocument">
                                                    <label class="custom-file-label" style="justify-content:left">Document</label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary mb-2">Upload</button>
                                        </form>*@
                                    <br />
                                    <div id="attachmentdiv"></div>
                                </div>
                                <div class="tab-pane" id="recipt" role="tabpanel">
                                    <br />
                                    <div id="reciptAlert" style="display:none" class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <i class="mdi mdi-alert-outline mr-2"></i>
                                        Form not submit so far!
                                    </div>
                                    <div id="reciptCard" style="display:none">
                                        <div class="col-lg-4">
                                            <div class="card border border-success">
                                                <div class="card-header bg-transparent border-success">
                                                    <h6 class="my-0 text-success"><i class="mdi mdi-check-all mr-3"></i>Form Submitted Successfully</h6>
                                                </div>
                                                <div class="card-body">
                                                    <h6 class="card-title mt-0">Form Information</h6>
                                                    <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-info mb-3">
                                                        <input type="checkbox" class="custom-control-input" id="attach_picture" disabled="disabled">
                                                        <label class="custom-control-label" for="attach_picture"> Pictures</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-info mb-3">
                                                        <input type="checkbox" class="custom-control-input" id="attach_dmc" disabled="disabled">
                                                        <label class="custom-control-label" for="attach_dmc"> DMC/Transcripts</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-info mb-3">
                                                        <input type="checkbox" class="custom-control-input" id="attach_cnic" disabled="disabled">
                                                        <label class="custom-control-label" for="attach_cnic"> CNIC/B-Form</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-info mb-3">
                                                        <input type="checkbox" class="custom-control-input" id="attach_guardiancnic" disabled="disabled">
                                                        <label class="custom-control-label" for="attach_guardiancnic"> Father/Mother/Guardian CNIC</label>
                                                    </div>
                                                    <div id="specialAttachment" style="display:none">
                                                        <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-info mb-3">
                                                            <input type="checkbox" class="custom-control-input" id="attach_death" disabled="disabled">
                                                            <label class="custom-control-label" for="attach_death"> Father Death Certificate</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-info mb-3">
                                                            <input type="checkbox" class="custom-control-input" id="attach_payslip" disabled="disabled">
                                                            <label class="custom-control-label" for="attach_payslip"> BPS(1-6) Payslip</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-info mb-3">
                                                            <input type="checkbox" class="custom-control-input" id="attach_affidavit" disabled="disabled">
                                                            <label class="custom-control-label" for="attach_affidavit"> Affidavit(Mother)</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-info mb-3">
                                                            <input type="checkbox" class="custom-control-input" id="attach_minority" disabled="disabled">
                                                            <label class="custom-control-label" for="attach_minority"> Minority Certificate</label>
                                                        </div>
                                                    </div>
                                                    <div class="text-right">
                                                        <label id="formsubmitdate"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="messages" role="tabpanel">
                                    <div id="messagediv"></div>
                                </div>
                                <div class="tab-pane" id="greennote" role="tabpanel">                                   
                                    <div class="alert alert-info alert-dismissible fade show mb-0" role="alert">
                                        <i class="mdi mdi-alert-circle-outline mr-2"></i>
                                        <b>Green Note:</b> Conversation between sections
                                    </div>
                                    <br />
                                    <div class="d-lg-flex">
                                        <div class="w-100 user-chat">
                                            <div class="card" style="overflow-y:scroll;max-height:700px">
                                                <div style="background-color: #d6f3e9">
                                                    <div class="chat-conversation p-3">
                                                        <ul class="list-unstyled" data-simplebar style="max-height: 470px;">
                                                            <li>
                                                                <div class="conversation-list">
                                                                    <div class="ctext-wrap">
                                                                        @*<div class="align-self-center mr-3">
                                                                            <img src="~/assets/images/users/avatar-1.jpg" class="avatar-xs rounded-circle" alt="">
                                                                        </div>*@
                                                                        <div class="conversation-name">Program</div>
                                                                        <p>
                                                                            I am sending this applicant profile for your review. The team and I have created a detailed plan that I’ve attached with comments l. Once you review applicant profile, we will get started on the payment disbursement immediately.
                                                                        </p>
                                                                        <p class="chat-time mb-0"><i class="bx bx-time-five align-middle mr-1"></i> 10:00</p>
                                                                    </div>

                                                                </div>
                                                            </li>

                                                            <li class="right">
                                                                <div class="conversation-list">
                                                                    <div class="ctext-wrap">
                                                                        <div class="conversation-name">M&amp;E</div>
                                                                        <p>
                                                                            The applicant profile is complete, but some documents are not attested. please coordinate with applicant.
                                                                        </p>

                                                                        <p class="chat-time mb-0"><i class="bx bx-time-five align-middle mr-1"></i> 10:02</p>
                                                                    </div>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="conversation-list">
                                                                    <div class="ctext-wrap">
                                                                        <div class="conversation-name">Internal Audit</div>
                                                                        <p>
                                                                            Documents are complete and recommended for approval.
                                                                        </p>

                                                                        <p class="chat-time mb-0"><i class="bx bx-time-five align-middle mr-1"></i> 10:06</p>
                                                                    </div>

                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="p-3 chat-input-section">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="position-relative">
                                                                    @*<input type="text" class="form-control chat-input" placeholder="Enter Message...">*@
                                                                    <textarea id="msgbox" placeholder="Enter Message..." required class="form-control" rows="5"></textarea>
                                                                </div>                                                                
                                                            </div>
                                                            <div class="col-auto">
                                                                <div class="chat-input-links">
                                                                    <ul class="list-inline mb-0">
                                                                        @*<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Emoji"><i class="mdi mdi-emoticon-happy-outline"></i></a></li>
                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Images"><i class="mdi mdi-file-image-outline"></i></a></li>*@
                                                                        <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Add Files"><i class="mdi mdi-file-document-outline"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <button type="submit" class="btn btn-primary btn-rounded chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block mr-2">Send</span> <i class="mdi mdi-send"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="paymentprocess" role="tabpanel">
                                    <p class="mb-0">
                                        paymentprocess
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                        <h4 class="text-uppercase">Sorry, page not found</h4>
                        @*<div class="mt-5 text-center">
                                <a class="btn btn-primary waves-effect waves-light" href=@Url.Action("Index", "index")>Back to Dashboard</a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div>
                        <img src="~/assets/images/error-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <!-- toastr plugin -->
    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>

    <!-- twitter-bootstrap-wizard js -->
    <script src="~/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <!-- form wizard init -->
    <script src="~/assets/js/pages/form-wizard.init.js"></script>

    <script>
        $(document).ready(function () {
            $('#btnSearchForm').prop('disabled', true);
            $('.applicantinformation').hide();
            $('#txtbox').keyup(function (event) {
                var refLength = $("#txtbox").val().length;
                if (refLength == 13) {
                    $('#btnSearchForm').prop('disabled', false);
                } else {
                    $('#btnSearchForm').prop('disabled', true);
                }
                if (event.keyCode === 13 && refLength == 13) {
                    fetch();
                }
            });
            $("#btnSearchForm").click(function () {
                fetch();
            });

            $(".loading").hide();
        });
        function fetch() {
            var refno = $("#txtbox").val();
            $('#fetchspinner').show();
            $.ajax({
                type: "POST",
                url: "/Applicants/AjaxApplicantInformation",
                data: { refno: refno },
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        $('.applicantinformation').show();
                        $('#attachment').show();
                        $('#name').val(response.name);
                        $('#rollno').val(response.rollNumber);
                        $('#fathername').val(response.fatherName);
                        $('#scheme').val(response.homeAddress);
                        $('#selectionMethodName').val(response.religion);
                        $('#applicantId').val(response.applicantId);
                        //------------------
                        $('#attach_picture').prop('checked', response.attach_Picture);
                        $('#attach_dmc').prop('checked', response.attach_DMC_Transcript);
                        $('#attach_cnic').prop('checked', response.attach_CNIC_BForm);
                        $('#attach_guardiancnic').prop('checked', response.attach_Father_Mother_Guardian_CNIC);
                        $('#formsubmitdate').text(response.formSubmittedOnDate);
                        if (response.selectionMethodId > 2) {
                            $('#attach_death').prop('checked', response.attach_Father_Death_Certificate);
                            $('#attach_payslip').prop('checked', response.attach_Payslip);
                            $('#attach_affidavit').prop('checked', response.attach_Affidavit);
                            $('#attach_minority').prop('checked', response.attach_Minority_Certificate);
                            $("#specialAttachment").show();
                        } else {
                            $("#specialAttachment").hide();
                        }
                        //------------------
                        if (response.bFormCNIC == "") {
                            $("#pic").attr("src", "/assets/images/Profile.png");
                        } else {
                            $("#pic").attr("src", response.bFormCNIC );
                        }
                        debugger;
                        if (response.isFormSubmitted == true) {
                            $('#reciptAlert').hide();
                            $('#reciptCard').show();
                        } else {
                            $('#reciptAlert').show();
                            $('#reciptCard').hide();
                        }
                        $("#txtbox").val('');
                        $('#btnSearchForm').prop('disabled', true);
                        @*$('#FetchDataOnSuccess').show();
                        $('#FetchDataOnSuccessText').text("Fetch data successfully!");*@
                        $('#FetchDataOnFailed').hide();
                        notificationme('Fetch Record Successfully!');
                        fetchApplicantProfileData(response.applicantId);
                        fetchApplicantAttachments(response.applicantId);
                        fetchApplicantMessages(response.applicantId);
                    } else {
                        $('.applicantinformation').hide();
                        @*$('#FetchDataOnSuccess').hide();*@
                        $('#FetchDataOnFailed').show();
                        $('#FetchDataOnFailedText').text("Applicant data not found!");
                        $("#txtbox").val('');
                        $('#btnSearchForm').prop('disabled', true);
                        notificationme('Applicant data not found!');
                    }
                    $('#fetchspinner').hide();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        function notificationme(message) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "100",
                "positionClass": "toast-bottom-right",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "show",
                "hideMethod": "hide"
            };
            toastr.info(message);
        }
        function fetchApplicantProfileData(applicantId) {
        $(".loading").show();
            $.ajax({
            url: '@Url.Action("ReloadApplicantProfileData", "Applicants")',
            data: {
                id: applicantId
            },
                success: function (data) {
                $("#fetchProfile").html(data);
                $(".loading").hide();
            }
        });
        }
        function fetchApplicantAttachments(applicantId) {
        $(".loading").show();
            $.ajax({
            url: '@Url.Action("_Index", "ApplicantAttachments")',
            data: {
                id: applicantId
            },
                success: function (data) {
                $("#attachmentdiv").html(data);
                $(".loading").hide();
            }
        });
        }

        function fetchApplicantMessages(applicantId) {
        $(".loading").show();
            $.ajax({
            url: '@Url.Action("_Index", "SMSAPIServiceAuditTrails")',
            data: {
                id: applicantId
            },
                success: function (data) {
                $("#messagediv").html(data);
                $(".loading").hide();
            }
        });
    }
    </script>
}
