@model DAL.Models.Domain.MasterSetup.ResultContainer

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ResultContainer</h4>
    <hr />
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ResultContainerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
