@model DAL.Models.Domain.ImportResult.ResultRepository

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ResultRepository</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResultRepositoryId" />
            <input type="hidden" asp-for="IsDataCleaned" />
            <input type="hidden" asp-for="IsSelctionCriteriaApplied" />
            <div class="form-group">
                <label asp-for="resultFilePath" class="control-label"></label>
                <input asp-for="resultFilePath" class="form-control" />
                <span asp-validation-for="resultFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScholarshipFiscalYearId" class="control-label"></label>
                <select asp-for="ScholarshipFiscalYearId" class="form-control" asp-items="ViewBag.ScholarshipFiscalYearId"></select>
                <span asp-validation-for="ScholarshipFiscalYearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchemeLevelPolicyId" class="control-label"></label>
                <select asp-for="SchemeLevelPolicyId" class="form-control" asp-items="ViewBag.SchemeLevelPolicyId"></select>
                <span asp-validation-for="SchemeLevelPolicyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

