@model ScholarshipManagementSystem.Models.Domain.AutoSMSApi.SMSAPIServiceAuditTrail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SMSAPIServiceAuditTrail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SMSAPIServiceAuditTrailId" />
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextLength" class="control-label"></label>
                <input asp-for="TextLength" class="form-control" />
                <span asp-validation-for="TextLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationNumber" class="control-label"></label>
                <input asp-for="DestinationNumber" class="form-control" />
                <span asp-validation-for="DestinationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseType" class="control-label"></label>
                <input asp-for="ResponseType" class="form-control" />
                <span asp-validation-for="ResponseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseMessage" class="control-label"></label>
                <input asp-for="ResponseMessage" class="form-control" />
                <span asp-validation-for="ResponseMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendOn" class="control-label"></label>
                <input asp-for="SendOn" class="form-control" />
                <span asp-validation-for="SendOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

