@model ScholarshipManagementSystem.Models.Domain.ScholarshipSetup.DistrictQoutaBySchemeLevel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>DistrictQoutaBySchemeLevel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DistrictQoutaBySchemeLevelId" />
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label"></label>
                <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
                <span asp-validation-for="DistrictId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Threshold" class="control-label"></label>
                <input asp-for="Threshold" class="form-control" />
                <span asp-validation-for="Threshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentYearPopulation" class="control-label"></label>
                <input asp-for="CurrentYearPopulation" class="form-control" />
                <span asp-validation-for="CurrentYearPopulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScholarshipFiscalYearId" class="control-label"></label>
                <select asp-for="ScholarshipFiscalYearId" class="form-control" asp-items="ViewBag.ScholarshipFiscalYearId"></select>
                <span asp-validation-for="ScholarshipFiscalYearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MPI" class="control-label"></label>
                <input asp-for="MPI" class="form-control" />
                <span asp-validation-for="MPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

