@model ScholarshipManagementSystem.Models.Domain.ScholarshipSetup.SchemeLevelPolicy

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SchemeLevelPolicy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SchemeLevelId" class="control-label"></label>
                <select asp-for="SchemeLevelId" class ="form-control" asp-items="ViewBag.SchemeLevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PolicySRCForumId" class="control-label"></label>
                <select asp-for="PolicySRCForumId" class ="form-control" asp-items="ViewBag.PolicySRCForumId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScholarshipQouta" class="control-label"></label>
                <input asp-for="ScholarshipQouta" class="form-control" />
                <span asp-validation-for="ScholarshipQouta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="POMS" class="control-label"></label>
                <input asp-for="POMS" class="form-control" />
                <span asp-validation-for="POMS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOMS" class="control-label"></label>
                <input asp-for="DOMS" class="form-control" />
                <span asp-validation-for="DOMS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SQSOMS" class="control-label"></label>
                <input asp-for="SQSOMS" class="form-control" />
                <span asp-validation-for="SQSOMS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SQSEVIs" class="control-label"></label>
                <input asp-for="SQSEVIs" class="form-control" />
                <span asp-validation-for="SQSEVIs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

